@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>My Favorite Movies</h1>
<div class="row mb-2">
    <div class="col-8">
        <h2>Avengers Infinity War</h2>
        <p>An unprecedented cinematic journey ten years in the making and spanning the entire Marvel Cinematic Universe, Marvel Studios'' "Avengers: Infinity War" brings to the screen the ultimate, deadliest showdown of all time. As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.</p>  
    </div>
    <div class="col-4">
        <img src="~/img/avengersinfinitywar.jpg" />
    </div>
</div>

<div class="row mb-2">
    <div class="col-8">
        <h2>Avengers Endgame</h2>
        <p>
            The grave course of events set in motion by Thanos, that wiped out half the universe and fractured the Avengers ranks, compels the remaining Avengers to take one final stand in Marvel Studios' grand conclusion to twenty-two films - Avengers: Endgame.
        </p>

    </div>
    <div class="col-4">
        <img src="~/img/avengersendgame.jpg" />
    </div>
</div>
